<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SM_System</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
{% for i in request.session.permission %}
    
   {% if i == 1 %}
        
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Infos Fournisseurs
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFournisseurs"
            aria-expanded="true" aria-controls="collapseFournisseurs">
            <i class="fas fa-truck"></i>
            <span>Informations</span>
        </a>
        <div id="collapseFournisseurs" class="collapse" aria-labelledby="headingFournisseurs" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'fournisseurs_index' %}">Fournisseurs</a>
                <a class="collapse-item" href="{% url 'notes_fournisseurs_index' %}">Notes Fournisseurs</a>
            </div>
        </div>
    </li>
   {% endif %}

   
   {% if i == 3 %}
    
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Articles
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProduits"
            aria-expanded="true" aria-controls="collapseProduits">
            <i class="fas fa-boxes"></i>
            <span>Infos Produits</span>
        </a>
        <div id="collapseProduits" class="collapse" aria-labelledby="headingProduits" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'produits_index' %}">Produits</a>
                <a class="collapse-item" href="{% url 'categories_produits_index' %}">Categories Produits</a>
            </div>
        </div>
    </li>
   {% endif %}

   
   {% if i == 4 %}

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Approvisionnements
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCommande"
            aria-expanded="true" aria-controls="collapseCommande">
            <i class="fas fa-cart-plus"></i>
            <span>Infos Commande</span>
        </a>
        <div id="collapseCommande" class="collapse" aria-labelledby="headingCommande" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'commandes_index' %}">Commandes</a>
                <a class="collapse-item" href="{% url 'details_commandes_index' %}">Details Commande</a>
            </div>
        </div>
    </li>
   {% endif %}
   
   {% if i == 5 %}
    
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Infos paiements
    </div>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'paiements_index' %}">
            <i class="fas fa-credit-card"></i>
            <span>Paiements</span>
        </a>
    </li>
   {% endif %}
   
   {% if i == 6 %}

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Parametres
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHistorique"
            aria-expanded="true" aria-controls="collapseHistorique">
            <i class="fa fa-history" aria-hidden="true"></i>
            <span>Historique</span>
        </a>
        <div id="collapseHistorique" class="collapse" aria-labelledby="headingHistorique" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'historiques_prix_index' %}">Sur les prix</a>
                <a class="collapse-item" href="{% url 'historiques_commandes_index' %}">Sur les Commandes</a>
            </div>
        </div>
    </li>
   {% endif %}
   
   {% if i == 7 %}
    
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Gestion Stock
    </div>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'stocks_index' %}">
            <i class="fas fa-archive    "></i>
            <span>Stocks</span>
        </a>
    </li>
   {% endif %}
   
   {% if i == 8 %}
    
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Facturation
    </div>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'factures_index' %}">
            <i class="fas fa-file-invoice"></i>
            <span>Factures</span>
        </a>
    </li>
   {% endif %}
   
   {% if i == 9 %}

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Utilisateurs
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilisateurs"
            aria-expanded="true" aria-controls="collapseUtilisateurs">
            <i class="fas fa-fw fa-cog"></i>
            <span>Infos Utilisateurs</span>
        </a>
        <div id="collapseUtilisateurs" class="collapse" aria-labelledby="headingUtilisateurs" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'users_index' %}">Utilisateurs</a>
                <a class="collapse-item" href="{% url 'roles_index' %}">Roles</a>
                <a class="collapse-item" href="{% url 'droits_index' %}">Droits</a>
                <a class="collapse-item" href="{% url 'users_roles_index' %}">Utilisateur_Role</a>
                <a class="collapse-item" href="{% url 'roles_droits_index' %}">Rôle_Droit</a>
            </div>
        </div>
    </li>
   {% endif %}
    
{% endfor %}
    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

     <!-- Nav Item - Tables -->
     <li class="nav-item">
        <a class="nav-link" href="{% url 'users_logout' %}">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span></a>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>