{% extends 'app/layouts/default.html' %}
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row d-flex justify-content-center">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total Fournisseurs</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{nbre_fournisseur}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-truck" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total Catégorie Produit</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{nbre_categorie}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-tags" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Notes Moyenne Des Fournisseurs
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ note_moyenne }}</div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Total Commande</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{nbre_commande}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">CHIFFRE D'AFFAIRE PAR JOUR</h5>
  
                <!-- Line Chart -->
                <canvas id="lineChart" style="max-height: 400px;"></canvas>
                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    new Chart(document.querySelector('#lineChart'), {
                      type: 'line',
                      data: {
                        labels: [ {% for paiement in chiffre_affaire %} '{{paiement.date_paiement}}', {% endfor %}],
                        datasets: [{
                          label: 'Line Chart',
                          data: [{% for paiement in chiffre_affaire %} '{{paiement.total_amount}}', {% endfor %}],
                          fill: false,
                          borderColor: 'rgb(75, 192, 192)',
                          tension: 0.1
                        }]
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true
                          }
                        }
                      }
                    });
                  });
                </script>
                <!-- End Line CHart -->
  
              </div>
            </div>
          </div>

        <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">NOMBRE D'ACHATS PAR CATEGORIE</h5>
  
                <!-- Bar Chart -->
                <div id="barChart"></div>
  
                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    new ApexCharts(document.querySelector("#barChart"), {
                      series: [{
                        data: [{% for categorie in categories.values %} '{{categorie}}', {% endfor %}]
                      }],
                      chart: {
                        type: 'bar',
                        height: 350
                      },
                      plotOptions: {
                        bar: {
                          borderRadius: 4,
                          horizontal: true,
                        }
                      },
                      dataLabels: {
                        enabled: false
                      },
                      xaxis: {
                        categories: [{% for categorie in categories.keys %} '{{categorie}}', {% endfor %}
                        ],
                      }
                    }).render();
                  });
                </script>
                <!-- End Bar Chart -->
  
              </div>
            </div>
        </div>  

        
        <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">ETATS DES COMMANDES</h5>
  
                <!-- Pie Chart -->
                <canvas id="pieChart" style="max-height: 400px;"></canvas>
                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    new Chart(document.querySelector('#pieChart'), {
                      type: 'pie',
                      data: { 
                        labels: [
                        {% for statut in status.keys %} '{{statut}}', {% endfor %}
                        ],
                        datasets: [{
                          label: 'My First Dataset',
                          data: [{% for statut in status.values %} '{{statut}}', {% endfor %}],
                          backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 205, 86)',
                            'rgb(255, 0, 0)'
                          ],
                          hoverOffset: 4
                        }]
                      }
                    });
                  });
                </script>
                <!-- End Pie CHart -->
  
              </div>
            </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">CALCUL MOYENNE</h5>

              <!-- Polar Area Chart -->
             
            
              
              <!-- End Polar Area Chart -->

            </div>
          </div>
        </div>
       
        
  
    </div>

    

</div>
{% endblock %}