.produit {
    padding: 10px;
    margin-bottom: 10px;
}

.rouge {
    color: red;
}

.vert {
    color: green;
}

.gris {
    color: goldenrod;
}

.commande {
    padding: 10px;
    margin-bottom: 10px;
}

.noir {
    color: black;
}

.paiement {
    padding: 10px;
    margin-bottom: 10px;
}
